@{
    ViewBag.Title = "Movie Review Sentiment";
}

<header>
    <h1>@ViewBag.Title</h1>
</header>

<div id="main-content">
  
  <div style="margin-bottom:.5em">
    <select id="test-reviews" style="width:500px;font-size:100%"> 
      <option label="" value="" />
      <option label="Avengers: meh" value="More does not necessarily equal better; here, more is just ... meh."/>
      <option label="Avengers: shorter bigger" value="Age of Ultron is a minute shorter than its predecessor, but it's a bigger movie in nearly every other regard." />
      <option label="Avengers: heck of a party" value="The Avengers, we're told, are greater than the sum of their parts. Avengers: Age of Ultron is not. But it still boasts some pretty incredible parts. And one heck of a party." />
      <option label="Avengers: missses bar" value="misses bar It misses the bar of classic movie greatness but Avengers: Age of Ultron is one of the most exciting and entertaining Marvel entries." />
      <option label="Avengers: daffy" value="Avengers: Age of Ultron is a sometimes daffy, occasionally baffling, surprisingly touching and even romantic adventure with one kinetic thrill after another. it earns a place of high ranking in the marvel universe." />
      <option label="Avengers: bubble bursting" value="That sound you hear is the bubble getting near to bursting." />
      <option label="Avengers: competence bar" value="A thoroughly competent movie, sure; but its competence is so routine and mechanical as to leave the thing overwhelmingly dull." />
      <option label="Avengers: punchplosion" value="mostly registers as yet another Marvel punchplosion." />
      <option label="Mad Max: worth the wait" value="With Fury Road, director George Miller returns to the lawless, oil-deprived future of his seminal series for the first time in three decades. It was worth the wait." />
      <option label="Mad Max: bonkers" value="Headlong, berserk, bonkers, batshit, boisterous, bountiful and big-hearted... George Miller in three sentences: We're doomed. Keep moving. Be kind." />
      <option label="Mallcop: forgettable" value="Paul Blart: Mall Cop 2 may be forgettable, but it's difficult to truly dislike." />
      <option label="Ex Machina: smart slick" value="One of the smartest, slickest and most intriguing sci-fi thrillers in recent memory, with a standout performances from Isaac and Vikander and confident, minimalist direction from Garland." />
      <option label="Almost Married: somewhat negative" value="There are a handful of truly funny moments, however there isn't quite enough fluency to the dialogue." />
    </select>
    <br />
    
  </div>
  <textarea id="review" rows="5" style="width:500px; font-size:100%"></textarea>
  <br/>
  <button style="margin-top:.5em;" id="guess">Guess</button>
  <button style="margin-top:.5em;" id="train">Train</button>
  <br/>
  <div style="display:none;padding:.5em 0 .5em 0;" id="result">
    <div style="padding: .5em 0 0 0;font-weight: bold;font-size: xx-large;" id="sentiment"></div>
    <div  id="confidence"></div>
  </div>
  <div style="padding-top:1em" id="training-result"></div>
</div>

@section scripts {
      @Scripts.Render("~/bundles/moviesentiment")
  }
